html {
    background-image: linear-gradient( #FC5E55, #FA4083);
}

body {
    background-image: url(images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.main2 {
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.229);
}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.229);
}

.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.229);
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

/* a {
    color: black;
    font-family: 'Times New Roman', Times, serif;
} */

nav a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Payfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9);
}

h2 {
    font-size: 2rem;
    font-family: 'Payfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    text-align: center;
    margin-top: 10px;
}

.cards i {
    font-size: 65px;
    /* padding-top: 10px; */
}

.cards a {
    color: white;
    text-decoration: none;
}

.mybutton {
    background-color: white;
    color: #FA4083;
    font-family: 'Payfair Display', serif;
    padding: 10.5px 24px;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.229);   
}

.mybutton:hover {
    background-color: rgb(218, 95, 136);
    transition-duration: 1s;
}

a.mybutton {
    display: inline-block;
    margin-top: 20px;
}

.navbutton {
    border: 1px solid white;
    color: white;
    font-family: 'Payfair Display', serif;
    padding: 10.5px 24px;
    /* margin-left: 20px; */
    display: inline-block;
    position: relative;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}

/* .tbox :last-child {
    font-size: .8rem;
} */

.tbox p:last-of-type {
    font-size: .8rem;
    padding-left: 30px;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
}

.navbutton:hover .dropdown {
    display: block;
    
}

.dropdown .navbutton {
    width: 120px;
    background-color: white;
}

.dropdown .navbutton a {
    color: #FA4083;
}

.dropdown .navbutton:hover {
    background-color: rgb(218, 95, 136);
    transition-duration: 1s;
}

.inputwrapper {
    margin-bottom: 30px;
}

input[type=text], input[type=email], textarea {
    padding: 12px 20px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    box-sizing: border-box;
}

.newline {
    display: block;
    margin-bottom: 10px;
}

.margin-right-a {
    margin-right: 20px;
}

form {
    margin: 40px 0px;
}

option {
    background-color: white;
    color: black;
}


.mybutton2 {
    background-color: white;
    color: #FA4083;
    font-family: 'Payfair Display', serif;
    padding: 10.5px 24px;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.229);
    font-size: 1.25rem;   
}

.mybutton2:hover {
    background-color: rgb(218, 95, 136);
    transition-duration: 1s;
}

.grey_color {
    color: gray;
}